* {
    box-sizing: border-box;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

body {
    font-family: "Montserrat";
}

ul,ol {
    list-style: none;
}

.menu {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
}

.link {
    color: #000;
    text-decoration: none;
    font-weight: 500
}

.logo {
    font-size: 27px;
    font-weight: 800;
}

.section {
    display: flex;
    gap: 50px;
    margin: 50px auto;
    border-radius: 30px;
    background: linear-gradient(90deg, rgb(242, 203, 9) 0%, rgb(241, 120, 9) 0.01%, rgb(251, 182, 3) 118.05%);
    height: 400px;
    width: 1400px;
}

.title {
    width: 624px;
    margin-top: 70px;
    color: #fff;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.28px;
    line-height: 100%;
    text-align: right;
    text-transform: uppercase;
    
}

.button1 {
    padding: 15px 40px 15px 40px;
    color: #fff;
    font-weight: 600;
    border-radius: 7px;
    filter: drop-shadow(5px 7px 8.8px rgba(0, 0, 0, .2));
    font-family: Montserrat;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #3392d1;
    border: 2px solid #3392d1;
    transition: .4s;
    cursor: pointer;
}

.img {
    margin-top: 70px;
}

.button2 {
    filter: drop-shadow(5px 7px 8.8px rgba(0, 0, 0, .2));
    padding: 17px 40px 17px 40px;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    outline: none;
    
}


.btn-box {
    margin-top: 20px;
    gap: 30px;
    display: flex;
    justify-content: center;
}

.section2 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button-box {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.left-box {
    display: flex;
    gap: 22px;
    flex-direction: column;
    width: 264px;
    height: 1000px;
}

.right-box {
    width: 1098px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.cards {
    background-color: #fff;
    width: 258px;
    height: 375px;
    padding: 14px 17px 30px;
}

.button3 {
    padding: 0 30px;
    color: #000;
    font-weight: 600;
    font-size: 19px;
    width: 274px;
    height: 72px;
    display: flex;
    align-items: center;
    display: flex;
    gap: 12PX;
    justify-content: space-between;
    transition: .3s;
    box-shadow: 0 4px 29px rgba(0, 0, 0, .05);
    border-radius: 24px;
    background: #deebfe;
    border: none;
    outline: none   ;
}

.button-text {
    text-align: start;
    text-wrap: wrap ;
}

.button-img {
    width: 26px;
    height: 26px;
}


.warden {
    color: #fff;
    order: -1;
    width: 100px;
    height: 45px;
}

.warden-btn {
    color: #fff;
    background: #f46700;
    padding-left: 10px;
    padding-right: 15px;
    gap: 0;
    opacity: .8;
}

.grief {
    order: -1;
    width: 95px;
    height: 72px;
}

.button3:hover {
    background-color: #3392d1;
    color: #fff;
}

.warden-btn:hover {
    color: #fff;
    background: #f46700;
    padding-left: 10px;
    padding-right: 15px;
    gap: 0;
    opacity: .8;
}

.grief-btn {
    background-color: #FFE1CC;
}

.grief-btn:hover {
    color: #fff;
    background: #f46700;
    opacity: .8;
}

.privilege-btn {
    background-color: #3392d1;
    color: #fff;
}

.title2 {
    font-weight: 800;
    margin-bottom: 50px;
}

.cards-img {
    width: 100%;
    border-radius: 20px;
}

.text-btn-box {
    display: flex;
    justify-content: space-between;
}

.card-title {
    color: rgba(0, 0, 0, .788);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 14px 0;
}

.price-text1 {
    font-size: 12px;
    font-weight: 400;
}

.price-text2 {
    font-size: 24px;
    font-weight: 700;
}

.price-text2 span {
    font-size: 16px;
} 

.card-button {
    align-items: center;
    background: #419efc;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 6px 17px rgba(0, 0, 0, .16);
    color: #fff;
    display: flex;
    font-size: 14px;
    justify-content: center;
    line-height: 17px;
    padding: 11px 27px;
    transition: .3s;
}